<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.safetyautomata.impl.SatetyAutomataModule" binaryversion="3.8.01" version="${project.version}" schema-level="2" uid="68970fa9-bb1a-4866-b535-1981d334ee3f">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/fastjson-1.2.58.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="60f7b225-d732-4959-8ad9-3c67b0ed200b" id="TestArchetypeProfile">
            <Stereotype name="teststereotype" metaclass="Class" is-hidden="false" label="Test Stereotype" uid="65a81d5d-aa0c-495e-ab78-e66eb98e8c37">
                <Icon path="res/icons/teststereotype24.png"/>
                <Image path="res/icons/teststereotype48.png"/>
            </Stereotype>
            <Stereotype name="testdiagram" metaclass="ClassDiagram" is-hidden="false" label="Test Diagram" uid="609d6c76-ffc1-4a7e-8522-8f99f95cbe6d">
                <Icon path="res/icons/testdiagram24.png"/>
                <Image path=""/>
            </Stereotype>
            <MetaclassReference uid="845f0022-9cf7-4b23-a069-4547700f1eb8" metaclass="ModelElement">
                <TagTypes>
                    <TagType name="TagName" uid="ad12e86a-5e0b-4ce1-8b48-771643d04a6d" label="Name" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="ShowChildren" label="ShowChildren" tooltip="ShowChildren" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.ShowChildren"/>
            </Command>
            <Command id="ShowDiagramElements" label="ShowDiagramElements" tooltip="ShowDiagramElements" image="res/icons/state.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.ShowDiagramElements"/>
            </Command>
            <Command id="HelloWorldCommand" label="HelloWorldCommandLabel" tooltip="HelloWorldCommandTooltip" image="res/icons/testcommand24.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.HelloWorldCommand"/>
            </Command>
            <Command id="AnalyseStateMachine" label="AnalyseStateMachine" tooltip="AnalyseStateMachine" image="res/icons/testcommand24.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.AnalyseStateMachine"/>
            </Command>
            <Command id="CreateElementCommandExample" label="CreateElementCommandExampleLabel" tooltip="CreateElementCommandExampleTooltip" image="res/icons/teststereotype24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ElementCreate">
                    <HParameter name="name" value="%CreateElementCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Command>
            <Command id="CreateDiagramCommandExample" label="%CreateDiagramCommandExampleLabel" tooltip="%CreateDiagramCommandExampleTooltip" image="res/icons/testdiagram24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="%CreateDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="ClassDiagram"/>
                    <HParameter name="stereotype" value="testdiagram"/>
                </Handler>
            </Command>
            <Command id="CreateStateMachineDiagram" label="CreateStateMachineDiagram" tooltip="CreateStateMachineDiagram" image="res/icons/testdiagram24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.CreateStateMachineDiagram"/>
            </Command>
            <Command id="commandId" label="commandLabel" tooltip="commandTip" image="res/icons/testdiagram24.png" group="hello" modify-model="true" group-image="res/icons/testdiagram24.png">
                <Scope metaclass="ModelTree"/>
                <Handler class="ElementCreate">
                    <HParameter name="name" value="hello"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Command>
            <Command id="ShowAllStates" label="ShowAllStates" tooltip="ShowAllStates" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.ShowAllStates"/>
            </Command>
            <Command id="RunStateMachine" label="RunStateMachine" tooltip="RunStateMachine" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.RunStateMachine"/>
            </Command>
            <Command id="ShowPackage" label="ShowPackage" tooltip="ShowPackage" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.ShowPackage"/>
            </Command>
            <Command id="ShowStateMachine" label="ShowStateMachine" tooltip="ShowStateMachine" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.ShowStateMachine"/>
            </Command>
            <Command id="GenerateStateMachine" label="GenerateStateMachine" tooltip="GenerateStateMachine" image="" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.safetyautomata.command.GenerateStateMachine"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="CreateElementDiagramCommandExample" label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip" image="res/icons/teststereotype24.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Tool>
            <Tool id="CreateElementDiagramCommandExample2" label="CreateElementDiagramCommandExampleLabel" tooltip="CreateElementDiagramCommandExampleTooltip" image="res/icons/teststereotype24.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="CreateElementDiagramCommandExampleName2"/>
                    <HParameter name="metaclass" value="Actor"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="ShowChildren"/>
            <CommandRef refid="ShowDiagramElements"/>
            <CommandRef refid="HelloWorldCommand"/>
            <CommandRef refid="AnalyseStateMachine"/>
            <CommandRef refid="CreateElementCommandExample"/>
            <CommandRef refid="commandId"/>
            <CommandRef refid="CreateDiagramCommandExample"/>
            <CommandRef refid="ShowAllStates"/>
            <CommandRef refid="CreateStateMachineDiagram"/>
            <CommandRef refid="RunStateMachine"/>
            <CommandRef refid="ShowPackage"/>
            <CommandRef refid="ShowStateMachine"/>
            <CommandRef refid="GenerateStateMachine"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="ClassDiagram" stereotype="testdiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="CreateElementDiagramCommandExample" group="Customization"/>
                    <ToolRef refid="CreateElementDiagramCommandExample2" group="Customization"/>
                    <ToolRef refid="CREATE_PACKAGE" group="Standard"/>
                    <ToolRef refid="CREATE_CLASS" group="Standard"/>
                </Palette>
                <Handler class="StandardCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views/>
    </Gui>
    <Dependencies/>
</Module>
