<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="ecnu.safetyautomata.impl.SafetyAutomataModule" binaryversion="3.8.01" version="${project.version}" schema-level="2" uid="f8e284d4-8638-427b-bf7c-5194e5fcec04">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="06131742-17f4-49e0-a571-4ecd3a2a9a19" id="TestArchetypeProfile">
            <Stereotype name="teststereotype" metaclass="Class" is-hidden="false" label="Test Stereotype" uid="5a32a7a7-7311-4c9e-83ed-4c3d0fe2d312">
                <Icon path="res/icons/teststereotype24.png"/>
                <Image path="res/icons/teststereotype48.png"/>
            </Stereotype>
            <Stereotype name="testdiagram" metaclass="ClassDiagram" is-hidden="false" label="Test Diagram" uid="0278ba81-619b-4ab9-80b7-74506721a6c3">
                <Icon path="res/icons/testdiagram24.png"/>
                <Image path=""/>
            </Stereotype>
            <MetaclassReference uid="2f514766-3672-43ce-882f-08693b2533d0" metaclass="ModelElement">
                <TagTypes>
                    <TagType name="TagName" uid="5ae221b7-ac1f-41eb-916e-c32fd65c9b6a" label="Name" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="HelloWorldCommand" label="%HelloWorldCommandLabel" tooltip="%HelloWorldCommandTooltip" image="res/icons/testcommand24.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ecnu.safetyautomata.command.HelloWorldCommand"/>
            </Command>
            <Command id="GenerateData" label="Generate Data" tooltip="Generate Data" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ecnu.safetyautomata.command.GenerateData"/>
            </Command>
            <Command id="CreateElementCommandExample" label="%CreateElementCommandExampleLabel" tooltip="%CreateElementCommandExampleTooltip" image="res/icons/teststereotype24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ElementCreate">
                    <HParameter name="name" value="%CreateElementCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Command>
            <Command id="CreateDiagramCommandExample" label="%CreateDiagramCommandExampleLabel" tooltip="%CreateDiagramCommandExampleTooltip" image="res/icons/testdiagram24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="%CreateDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="ClassDiagram"/>
                    <HParameter name="stereotype" value="testdiagram"/>
                </Handler>
            </Command>
        </Commands>
        <Tools>
            <Tool id="CreateElementDiagramCommandExample" label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip" image="res/icons/teststereotype24.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="GenerateData"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="ClassDiagram" stereotype="testdiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="CreateElementDiagramCommandExample" group="Customization"/>
                </Palette>
                <Handler class="StandardCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage class="ecnu.safetyautomata.propertypage.StatePage" label="state page" image=""/>
            <PropertyPage class="ecnu.safetyautomata.propertypage.TransitionPage" label="transition page" image=""/>
        </Views>
    </Gui>
    <Dependencies/>
</Module>
