<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="exercise.softwarerequirement.impl.SoftwareRequirementModule" binaryversion="3.8.01" version="${project.version}" schema-level="2" uid="bb9fc839-60e9-484c-93dd-406d3285ced2">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/fastjson-1.2.58.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="326f1b4c-c7b2-4fad-a971-46d5f2df1a6a" id="TestArchetypeProfile">
            <Stereotype name="teststereotype" metaclass="Class" is-hidden="false" label="Test Stereotype" uid="7349c53d-9b0b-41a5-8336-996037644334">
                <Icon path="res/icons/teststereotype24.png"/>
                <Image path="res/icons/teststereotype48.png"/>
            </Stereotype>
            <Stereotype name="testdiagram" metaclass="ClassDiagram" is-hidden="false" label="Test Diagram" uid="87ed8f1d-e5c3-4f27-85f1-89022c5d42d5">
                <Icon path="res/icons/testdiagram24.png"/>
                <Image path=""/>
            </Stereotype>
            <MetaclassReference uid="99f0370c-4ac7-4169-978c-02658bba3f10" metaclass="ModelElement">
                <TagTypes>
                    <TagType name="TagName" uid="bd92c09f-95b5-4ca6-959b-6d547c78fc3c" label="Name" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="GenerateDataFlowDiagram" label="Generate DataFlow Diagram" tooltip="Generate DataFlow Diagram" image="res/icons/testcommand24.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="exercise.softwarerequirement.command.GenerateDataFlowDiagram"/>
            </Command>
            <Command id="GenerateStateMachineByCode" label="Generate StateMachine" tooltip="Generate StateMachine" image="res/icons/testcommand24.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="exercise.softwarerequirement.command.GenerateStateMachineByCode"/>
            </Command>
            <Command id="CreateElementCommandExample" label="%CreateElementCommandExampleLabel" tooltip="%CreateElementCommandExampleTooltip" image="res/icons/teststereotype24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ElementCreate">
                    <HParameter name="name" value="%CreateElementCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Command>
            <Command id="CreateDiagramCommandExample" label="%CreateDiagramCommandExampleLabel" tooltip="%CreateDiagramCommandExampleTooltip" image="res/icons/testdiagram24.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="%CreateDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="ClassDiagram"/>
                    <HParameter name="stereotype" value="testdiagram"/>
                </Handler>
            </Command>
        </Commands>
        <Tools>
            <Tool id="CreateElementDiagramCommandExample" label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip" image="res/icons/teststereotype24.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="teststereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="GenerateDataFlowDiagram"/>
            <CommandRef refid="GenerateStateMachineByCode"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="ClassDiagram" stereotype="testdiagram">
                <Palette keepBasePalette="false">
                    <ToolRef refid="CreateElementDiagramCommandExample" group="Customization"/>
                </Palette>
                <Handler class="StandardCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views/>
    </Gui>
    <Dependencies/>
</Module>
